<nav class="blue-grey darken-4">
    <div class="nav-wrapper container">
        
        <a href="#" class="brand-logo center">Storybook</a>

        <ul id="nav-mobile" class="left hide-on-small-only">
            <li><a href="/dashboard">Dashboard</a></li>
            <li><a href="/stories">Public Stories</a></li>
        </ul>

        <ul class="right">
            <li><a href="/auth/logout">Log Out</a></li>
        </ul>
        
        <a href="#" data-target="mobile-demo" class="hide-on-med-and-up sidenav-trigger">
            <i class="fas fa-bars"></i></a>
        <ul class="sidenav" id="mobile-demo">
            <li><a href="/dashboard">Dashboard</a></li>
            <li><a href="/stories">Public Stories</a></li>
        </ul>
    </div>
</nav>